:root {
  /* Default Dark Theme */
  --color-background: #0f172a;
  --color-background-soft: #1e293b;
  --color-primary: #38bdf8;
  --color-primary-hover: #0ea5e9;
  --color-heading: #f8fafc;
  --color-text: #cbd5e1;
  --color-text-mute: #94a3b8;
}

html.light {
  /* Light Theme Overrides */
  --color-background: #ffffff;
  --color-background-soft: #f1f5f9;
  --color-primary: #0ea5e9;
  --color-primary-hover: #0284c7;
  --color-heading: #0f172a;
  --color-text: #334155;
  --color-text-mute: #64748b;
}
